// :global{
//   @import './../node_modules/highlight.js/styles/atom-one-dark.css';
// }
@import './../node_modules/normalize.scss/normalize.scss';
body {
  font-family: 'Dosis', sans-serif;
  .navigation {
    float: left;
    width: 250px;
    list-style-type: none;
    padding: 0;
    li{
      padding: 10px;
      background-color: #607d8b;
      margin: 10px 0;
    }
    a, a:visited {
      text-decoration: none;
      color: #FFFCF9;
      font-weight: 900;
      letter-spacing: 1px;
    }
  }
  .props{
      border-collapse:collapse;
      td {
        border-top: solid 1px #FFD166;
      }

      td, th {
        padding: 10px;
      }
      th, td {
        text-align: left;
        padding: 5px;
      }
      tr:nth-of-type(2n){
        background-color: #FFD166;
      }
      td:last-of-type {
        text-align: center;
    }

}

/* Documentation site component styles */
.example {
  border: solid 2px #607d8b;
  padding: 16px;
  margin-bottom: 16px;
  h4:first-of-type {
     margin-top: 0;
  }

  .showCodeBtn{
    margin:20px 0;
    a{
      text-decoration: none;
      letter-spacing: 1px;
      text-transform: uppercase;
      color:white;
      background-color: #607d8b;
      padding: 10px;
    }
  }
}

.componentpage {
  margin-left: 275px;
}
.clear {
  clear: both;
}
}


//#EF476F  #06D6A0 #FFD166 #FFFCF9
